    <h3>All the Fweets</h3>
    <ul>
      <% @fweets.each do |fweet| %>
        <li><%= "#{fweet.user} says: #{fweet.content}" %> </li>
      <% end %>
    </ul>
    
    <h3>Make a New Fweet!</h3>
    <form action="/" method="POST">
      <select>
        <% @users.each do |user| %>
          <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select>
      <input type="text" name="fweet" placeholder="awesome fweet">
      <input type="submit" value="Fweet at Us!!">
    </form>
