<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter (any similarities to Twitter are purely coincidental - please do not sue)</title>
  </head>
  
  <body>
    <h1>Welcome to Fwitter!</h1>
    <h3>All the Fweets</h3>
    <ul>
      <% @fweets.each do |fweet| %>
        <li><%= "#{fweet.user} says: #{fweet.content}" %> </li>
      <% end %>
    </ul>
    
    <h3>Make a New Fweet!</h3>
    <form action="/" method="POST">
      <input type="text" name="user" placeholder="username">
      <input type="text" name="fweet" placeholder="awesome fweet">
      <input type="submit" value="Fweet at Us!!">
    </form>
    
  </body>
</html>