<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter (any similarities to Twitter are purely coincidental - please do not sue)</title>
  </head>
  
  <body>
    <nav>
      <% if logged_in? %>
        <h4><%= current_user.username %></h4>
      <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </nav>
    <h1>Welcome to Fwitter!</h1>
    <%= yield %>   
  </body>
</html>