<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter (any similarities to Twitter are purely coincidental - please do not sue)</title>
  </head>
  
  <body>
    <h1>Welcome to Fwitter!</h1>
    <%= yield %>   
  </body>
</html>