<form method="POST" action="/new_user">
  <input type="text" name="username" placeholder="Create Your Username">
  <input type="text" name="firstname" placeholder="First Name">
  <input type="text" name="lastname" placeholder="Last Name">
  <input type="submit" value="Sign Up">
</form>